/* Importando a fonte Open Sans */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

/* Aplicando no body */
body {
  font-family: 'Open Sans', sans-serif;
}

footer {
    background-color: #192A6B;
    color: white;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.footer-content a {
    color: white;
    text-decoration: none;
    margin: 0 10px;
}